@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
body {
   background: #FFE677;
   font-family: 'Libre Franklin', sans-serif;
   color: #F7F6EA!important;
}

.nav-logo{
   height: 55px!important;
   margin-left: 20px;
   margin-bottom: 10px!important;
}
.img-logo{
   height: 55px!important;
   padding: 5px;
   margin: auto: !important;
}

.r-panel{
   height: 55px;
}

.nav-bttn {
   margin-left: 5px!important;
   margin-right: 5px!important;
   margin-top: 2px!important;
   margin-bottom: 2px!important;
   border-radius: 5px!important;
   color: #F7F6EA!important;
   font-weight: 100!important;
}
.social-icon{
   height: 0px;
   width: 40px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 9px;
}
.social-img{
   height: 30px;
   width: 30px;
   margin: auto;
}
#nav-right{
   margin-right: 20px;
}
nav, #menu{
   height: 55px!important;
   line-height: 55px!important;
   background-color: #475B63!important;
}
.content{
   font-size: 20px;
}
.display-main{
   margin-top: 30px;
   text-align: center!important;
}

.main-img{
   text-align: left;
   display: inline-block;
}
.collection{
   margin-top: 30px;
   border: 1px solid #475B63!important;
   border-radius: 2px!important;
}

.feeds{
   margin-top: 90px;
}


.feed-content{
   color: #303633;
}

.timestamp{
   color: #303633;
   text-align: right;

}

.email-input{
   background-color: #F7F6EA;
   padding: 5px;
   border-radius: 10px;
}

ul#footersm li{
   display: inline;
}

footer.page-footer{
   background-color: #475B63!important;
   font-family: 'Libre Franklin', sans-serif;
}
