/*
h1 {
   font-weight: black;
}

h5 {}*/

body {
   background: #F7D036;
}

.nav{
   background-color: #272838;
}

.footer{
   background-color: #272838;
}

#download-button{
   background-color: #EA5A44;
}


/*
#landingtxt {
   font-weight: black;
}

.btn-left {
   background-color: #F25F5C!important;
   margin: 20px font-family: Roboto;
}

.btn-right {
   background-color: transparent!important;
   margin: 20px;
   border-style: solid!important;
   border-width: 1px: border-color: white;
   font-family: Roboto;
}

*/