
body {
   background: #F7D036;
   font-family: 'Work Sans', sans-serif;
}

.nav{
   background-color: #272838;
}

.footer{
   background-color: #272838;
}

#download-button{
   background-color: #EA5A44;
}
