<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Mizzou Computing Association</title>

   <link rel="icon" type="image/png" href="/static/favicon.ico"/>

   <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Welcome to the Mizzou Computing Association! We are the University of Missouri's largest group for computer, technology, and programming enthusiasts."/>

   <link rel="stylesheet" href="../static/style.css">
   <link rel="stylesheet" href="../static/app-style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
   <script src="./static/script.js"></script>
</head>

<body>
   <nav>
      <div class="nav-wrapper" id="cssnav">
         <a href="#!" class="white-text brand-logo center hide-on-large-only">MCA</a>
         <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons">menu</i></a>
         <ul class="left hide-on-med-and-down">
            <li><a class="waves-effect waves-yellow btn-flat nav-bttn" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="waves-effect waves-yellow btn-flat nav-bttn" href="{{ url_for('sigs') }}">SIGs</a></li>
            <li><a class="waves-effect waves-yellow btn-flat nav-bttn" href="{{ url_for('register') }}">Join</a></li>
            <li><a class="waves-effect waves-yellow btn-flat nav-bttn modal-trigger" href="#resources">Resources</a></li>
         </ul>
         <ul class="right hide-on-med-and-down r-panel">
            <li>
               <a class="social-icon" href="https://twitter.com/mizzoumca" target="_"><img class="social-img" src="static/images/Twitter.svg"></a>
            </li>
            <li>
               <a class="social-icon" href="https://www.facebook.com/mizzouhackers/" target="_"><img class="social-img" src="static/images/facebook.svg"></a>
            </li>
            <li>
               <a class="social-icon" href="https://www.instagram.com/mizzoumca/" target="_"><img class="social-img" src="static/images/instagram.svg"></a>
            </li>
            <!-- <li><a class="nav-logo"><img class = "img-logo" src="static/images/mcalogo-notext.png"></a></li> -->
         </ul>
         <ul class="side-nav" id="mobile-demo">
            <li><a class="side-nav-item" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="side-nav-item" href="{{ url_for('sigs') }}">SIGs</a></li>
            <li><a class="side-nav-item" href="{{ url_for('register') }}">Join</a></li>
            <li><a class="side-nav-item modal-trigger" href="#resources">Resources</a></li>
         </ul>
      </div>
   </nav>
     <!-- Modal Trigger -->


     <!-- Modal Structure -->
     <div id="resources" class="modal">
       <div class="modal-content">
         <h4 class = "modal-text">It's not a bug, it's a feature</h4>
         <p class = "modal-text">We haven't created a home for our resources section yet. Want to tackle a new project? Clone this repository from <a target="_" href="https://github.com/lguerdan/mizzoumca">here</a>, follow the configuration instructions, and add your own twist to this page! If you have questions or need help, reach out to any exec member or email us.</p>
       </div>
       <div class="modal-footer">
         <a href="#!" class="resources-btn modal-action modal-close waves-effect waves-green btn-flat">Sounds Good</a>
       </div>
     </div>

   {% block body %} {% endblock%}
</body>
<footer class="page-footer">
   <div class="row">
      <div class="col m5 offset-m1 s12 footer-col">
         <div class="row">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup" class = "z-depth-1">
            <form action="//missouri.us15.list-manage.com/subscribe/post?u=550d4ed32df155f991916dddc&amp;id=00600004da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
               <label class = "subscribe" for="mce-EMAIL">Subscribe to our mailing list</label>
               <input class = "email-input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_550d4ed32df155f991916dddc_00600004da" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->
         </div>
      </div>
      <div class="col m5 offset-m1 s12">
         <p class="content footer-text">Other ways to get involved with computer science at Mizzou:</p>
         <h5 class="footer-text">Resources</h5>
         <ul>
            <li><a class="footer-text" href="http://tiger-hacks.com/" target="_">TigerHacks</a></li>
            <li><a class="footer-text" href="http://engineering.missouri.edu/cs/" target="_">MU Department of Computer Science</a></li>
            <li><a class="footer-text" href="https://www.facebook.com/MizzouIEEE/" target="_">MU IEEE Chapter</a></li>
            <li><a class="footer-text" href="https://www.facebook.com/MizzouUPE/" target="_">MU UPE Chapter</a></li>
         </ul>
         <ul id="footersm">
            <li>
               <a class="social-icon" href="https://twitter.com/mizzoumca" target="_"><img class="social-img" src="../static/images/Twitter.svg"></a>
            </li>
            <li>
               <a class="social-icon" href="https://www.facebook.com/mizzouhackers/" target="_"><img class="social-img" src="../static/images/facebook.svg"></a>
            </li>
            <li>
               <a class="social-icon" href="https://www.instagram.com/mizzoumca/" target="_"><img class="social-img" src="../static/images/instagram.svg"></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         © 2017 Mizzou Computing Association
      </div>
   </div>
</footer>

</html>
