<!doctype html>
<html class="no-js" lang="">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Home | Mizzou Computing Association</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="css/app-style.css">
   <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
   <!--<link rel="stylesheet" href="css/main.css"> -->
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper center-align #263238 blue-grey darken-4 ">
      <a href="#" class="brand-logo" id ="logo-container"><object id="front-page-logo" width="170px" type="image/png" data="images/mcalogo-notext.png">Your browser does not support SVG.</object></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login.html">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="login.html">Login</a></li>
      </ul>

      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Home</a></li>
        <li class="tab"><a  href="#test2">Calendar</a></li>
        <li class="tab"><a href="#test4">SIG</a></li>
        <li class="tab"><a href="#test3">Corporate</a></li>
        <li class="tab"><a href="#test3">Contact</a></li>
        <li class="tab disabled"><a href="#test3">Members</a></li>
      </ul>
    </div>

  </nav>
   <div id="test1" class="col s12">Test 1</div>
   <div id="test2" class="col s12">Test 2</div>
   <div id="test3" class="col s12">Test 3</div>
   <div id="test4" class="col s12">Test 4</div>
</body>
<footer class="page-footer #263238 blue-grey darken-4 ">
          <div class="container ">
            <div class="row">
            <div class="col s6">
               <img src="images/mcalogo-text.png" class = "logo-wrapper">
            </div>
            <div class="col s6">
                <p class="grey-text text-lighten-4">Find other ways to get involved through the <br>IEEE and MU Department of Engineering.</p>
                <h5 class="white-text">Resources</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/MizzouACM/">MCA Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://hackmizzou.com/" target="_">Hack Mizzou</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://engineering.missouri.edu/cs/">MU Department of Computer Science</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://engineering.missouri.edu/">MU Engineering</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Mizzou Computing Association
            </div>
          </div>
</footer>
</html>
