<!doctype html>
<html class="no-js" lang="">

<head>
   <meta charset="utf-8">
   <title>MCA</title>
   <link rel="stylesheet" href="../static/style.css">
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
   <script src="../static/landing-movie.js"></script>
</head>

<body>
   <div class="se-preload-con"></div>
   <div class="overlay"></div>
   <div class="cover">
      <div class="hi">
         <h1 id="landingtxt">Welcome</h1>
         <p>to the</p>
         <h1>Mizzou Computing Association</h1>
         <br>
         <span id="btn-transparent"><a class="waves-effect waves-light btn-large btn-left" href="{{ url_for('home') }}">See What's New</a></span>
         <a class="waves-effect waves-light btn-large btn-right modal-trigger" href="{{ url_for('register') }}">Join Us</a>
      </div>
   </div>
   <div class="tv">
      <div class="screen mute" id="tv"></div>
   </div>
</body>
</html>

