<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Final Project</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
   <div class="se-preload-con"></div>
   <div id="login-page" class="row valign-center">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" id = "login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/mcalogo-text.png" alt="" class="responsive-img valign " id = "login-logo">
            <!-- <p class="center login-form-text"><strong>Current Member Signin</strong> </p> -->
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href = "#" class="btn red waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="register.html">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="reset-password.html">Forgot password?</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>