{% extends "base.html" %}
{% block body %}
  
  <center>
  <h6 id="header2" class="schedule" class="container z-depth-1">
      <table>
        <th><u>SIG</u></th>
        <th><u>Date and Time</u></th>
        <th><u>Place</u></th>
        {% for data in siginfo %}
          <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
          </tr>
        {% endfor %}
      </table>
  </h6>
</center>

   {% for channel, messages in updates.iteritems() %}
      <div class="container">
      <div class = "row">
         <h4 id = "header1" class = "header center z-depth-1">{{channel}}</h4>
         <div class = "col s12 m6" style="float:none;margin:auto;width:80%;">
            <ul class="collection deep-orange lighten-4">
            {% for message in updates[channel] %}
             <div class = "collection-item">
               <div><p class = "feed-content">{{ message['text']|safe }}</p></div>
               <div>
                  <div class = "row">
                     <div class = "timestamp col s4 offset-s8">
                        {{message['ts_day']}}<br>
                        {{message['ts_time']}}
                     </div>
                  </div>
               </div>
             </div>
             {% endfor %}
            </ul>
         </div>
      </div>
      </div>
   {% endfor %}

{% endblock %}
