@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway|Bungee|Libre+Franklin');
body {
   background: #EEF1EF;
   font-family: 'Raileway', sans-serif;
   color: #EEF1EF!important;
}
*{
   font-family: 'Raileway', sans-serif;
}
a{
   color: #415658!important;
}
.header{
   overflow: auto;
   color: #FFBF00;
   padding: 15px;
   border-radius: 15px;
   font-family: 'Staatliches';
   background-color:#EEF1EF;
   letter-spacing: .09em; /* Adjust as needed */
}
#header1{
   background-color: #086788;
}
#header2{
   background-color: #086788;
}
#header3{
  background-color: #086788;
}
.nav-logo{
   height: 55px!important;
   margin-left: 20px;
   margin-bottom: 10px!important;
}
.img-logo{
   height: 55px!important;
   padding: 5px;
   margin: auto: !important;
}
.r-panel{
   height: 55px;
   margin-right: 15px;
}
.card{
   color: #F9FFFB!important;
   background-color: #475B63!important;
}
.info-section{
   margin-top: 3%;
   width: 80%;
   color: #212227;
   text-align: center!important;
   font-size: 20px;
   font-weight: 200;
   color: #212121!important;
}

.header-main{
   margin-top: 5%!important;
   /* margin-bottom: 15%!important; */
   color: #086788!important;
   /* font-family: 'Bungee', sans-serif!important; */
   font-family: 'Staatliches', cursive;
   font-weight: 2000;
   width: 95%;
   margin: auto;
   letter-spacing: .09em; /* Adjust as needed */
}

.flickr{
   margin: auto;
}

.modal-text{
   color: #494A4E;
}
.resources-btn{
   background-color: #b2ebf2;
   color: #494A4E;
}
.join-btn{
   color: #212227;
}
.desc-lg{
   width: 82%;
}
.desc-sm{
   width: 95%;
   margin: auto;
}
.desc-main{
   margin-top: 4%!important;
   margin-bottom: 4%!important;
   font-family: 'Raileway', sans-serif;
   font-size: 20px;
   color: #35363A;
}
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .09em; /* Adjust as needed */
  margin-bottom: 5%!important;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #35363A; }
}

.i-header{
   color: #35363A;
}

.info-item-header{
  font-family: 'Staatliches';
  letter-spacing: .09em; /* Adjust as needed */
  /* font-family: 'Monoton', cursive; */
  color: #FFBF00;
}
.info-item-header-2{
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
   /* font-family: 'Monoton', cursive; */
   color: #086788;
}
#club-info{
   margin-top: 120px;
}
.info{
   margin-top: 10px!important;
   font-size: 20px;
   font-weight: 200;
   color: #212121!important;
}

.exec-content{
   font-size: 20px;
   /* font-weight: 500; */
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
   color: #086788!important;
   /* text-align: center; */
   margin-bottom: 0px;
}

.exec-subcontent{
  font-size: 15px;
  /* font-weight: 500; */
  font-family: 'Staatliches';
  color: #171D1C!important;
  margin-top: 0px;
  margin-bottom: 0px;
  /* text-align: center; */
}

img.exec-image{
   width: 45%;
}

.card-title{
   letter-spacing: 1.5px;
   color: #212121!important;
}

.calendar{
   width: 80%;
   height: 400px;
   border-style: solid;
   border-color: #086788;
   border-radius: 4px;
}

.nav-bttn {
   margin-left: 5px!important;
   margin-right: 5px!important;
   margin-top: 2px!important;
   margin-bottom: 2px!important;
   border-radius: 5px!important;
   color: #FFFFFF!important;
   font-weight: 100!important;
   font-family: 'Libre Franklin', sans-serif!important;
}

.side-nav-item{
   font-size: 20px!important;
   font-family: 'Libre Franklin', sans-serif!important;
   /*padding: 30px!important;*/
   margin: 30px!important;
   padding-bottom: 25px!important;
   border-bottom: solid .01em black;
   text-align: center;
}
#mobile-demo{
   font-size: 30px!important;
}
.social-icon{
   height: 0px;
   width: 40px;
   margin-left: 4px;
   margin-right: 4px;
   margin-top: 9px;
}
.social-img{
   height: 30px;
   width: 30px;
   margin: auto;
}
#nav-right{
   margin-right: 20px;
}
nav, #menu{
   height: 55px!important;
   line-height: 55px!important;
   background-color: #171D1C!important;
   font-family: 'Libre Franklin', sans-serif;;
}
.content{
   font-size: 20px;
   width: 90%;
}
.photo-main{
   margin-top: 2%;
   text-align: center!important;
}

.nav-logo{
  height: 0px;
  width: 0px;
  margin-left: 0px;
  margin-right: 200px;
  margin-top: 2px;
}

#officers{
   padding-bottom: 20px;
}
#off-header{
  background-color: #086788;
  font-family: 'Staatliches';
  letter-spacing: .09em; /* Adjust as needed */
  color: #FFBF00;
  margin-top: 7%;
  margin-bottom: 7%;
}
#sch-header{
   background-color: #086788;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
   color: #FFBF00;
   margin-top: 7%;
   margin-bottom: 7%;
}

.divider{
   width: 98%;
   margin: auto;
   color: #475B63!important;
}

.main-img{
   text-align: left;
   display: inline-block;
}
.collection{
   margin-top: 0px;
   border: 1px solid #FFBF00!important;
   border-radius: 2px!important;
   color: #ffccbc!important;
}

.feeds{
   margin-top: 90px;
}

.feed-content{
   background-color: #EEF1EF;
   color: #086788;
   font-size: 16px;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */

}

.collection-item{
  background-color: #EEF1EF !important;
}

.timestamp{
   color: #FFBF00;
   /* text-align: center; */
   margin-left: 350px;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */

}

ul#footersm li{
   display: inline;
   align-items: center;
}

.footer-text{
   color: #FFFFFF!important;
   text-align: left;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
}

.footer-text:hover {
  color: #FFBF00!important;
}

.footer-text-2{
   color: #086788!important;
   text-align: left;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
}

.footer-copyright{
    color: #086788!important;
    text-align: left;
    font-family: 'Staatliches';
    letter-spacing: .09em; /* Adjust as needed */
}

#mc_embed_signup{
   font-family: 'Staatliches', sans-serif!important;
   background-color: #FFFFFF;
   margin-top: 5.5%!important;
   margin-right: 15.5%!important;
   border-radius: 15px;
   color:#212227;
   padding: 3%;
}
#mc-embedded-subscribe{
   background-color: #086788!important;
   color: #FFFFFF!important;
   width: 30%!important;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
 }

.email-input{
   color:#FFBF00;
   padding-left: 10px!important;
   width: 90%!important;
   background-color: #FFFFFF!important;
}
.subscribe{
   color:#086788;
   font-family: 'Staatliches';
   letter-spacing: .09em; /* Adjust as needed */
}

footer.page-footer{
   background-color: #171D1C!important;
   font-family: 'Raileway', sans-serif!important;
   margin-top: 0px!important;
}

.schedule{
   width: 80%;
   border-style: solid;
   border-color: #EEF1EF;
   border-radius: 4px;
   color: #086788;
   padding: 10px;
   margin-top: 10px;
}

.schedule table tr td{
   padding: 3px;
   border-radius: 0px;
}

.schedule table tr:nth-child(even) {
   background-color: #EEF1EF;
}

.container{
  text-align: center;
}

.waves-effect{
  font-size: 18px;
  color: #086788!important;
  text-align: left;
  font-family: 'Staatliches'!important;
  letter-spacing: .09em; /* Adjust as needed */
}

.waves-effect:hover {
 color: #FFBF00!important;
}

.org-name{
  font-size: 20px;
  color: #FFFFFF!important;
  font-family: 'Staatliches';
  letter-spacing: .1em; /* Adjust as needed */
  /* padding-left: 250pt;  */
  margin-left: 30px;
}

.org-name:hover {
  color: #FFBF00!important;
}

.white-text{
  font-size: 10px;
  color: #086788!important;
  text-align: left;
  font-family: 'Staatliches'!important;
  letter-spacing: .00em; /* Adjust as needed */
}

.SIGs{
   background-color: #FFFFFF;
}

.sigDef{
  margin-top: 45px;
  font-family: 'Staatliches';
  letter-spacing: .09em; /* Adjust as needed */
  color: #086788;
  font-size: 30px;
  margin-right: 700px;
}

.explain{
  color: #171D1C;
  margin-left: 190px;
  text-align: left;
  /* font-family: 'Staatliches'!important; */
  letter-spacing: .09em; /* Adjust as needed */
}
